body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 60px;
    height: 60px;

    border: 8px solid lightgray;
    border-top: 8px solid blue;
    border-radius: 50%;

    animation-name: loading;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loading {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}